<div class="header">
    <div class="navbar">
        <div class="logo">
            <img src="../../assets/images/logo_transparent.png" alt="logoeatlk">
        </div>
        <div class="navmenu">
            <a>
                <span>ABOUT US</span>
            </a>
            <a>
                <span>CONTACT US</span>
            </a>
            <a>
                <span>SIGN IN</span>
            </a>
        </div>
        <div class="userImg">
            <img src="../../assets/images/dfsfsfs.png" alt="">
        </div>
    </div>
    <div class="mainBanner">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis optio ipsam eveniet natus rerum minus
        veritatis
    </div>
</div>
<div class="wrapper">
    <div class="search_box">
        <div class="search_field">
            <div class="input">
                <h2>Search Restaurants </h2>

                <ng-template class="category-sec" let-index="index">
                    <button class="btn">

                    </button>
                </ng-template>

            </div>
            <div class="input1">
                <h2>Search by Location</h2>

                <ng-template class="category-sec">
                    <button class="btn">

                    </button>
                </ng-template>

            </div>
        </div>
    </div>
</div>
<div class="container">
    fiuhfdiudfhifddf
</div>
<app-footer></app-footer>