<div class="main">
  <div class="login">
    <div class="login_form">
      <div class="logo">
        <img src="../../assets/images/logo_transparent.png" alt="eatlklogo">
      </div>
      <div class="header">
        LOGIN
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <a class="forgotPs" href="#">Forgot Password</a>
      <button class="loginBtn">LOGIN</button>
    </div>
    <div class="createAc">
      New to EAT.LK? <a routerLink="../user-type">CREATE AN ACCOUNT</a>
    </div>
  </div>
</div>